.product-info{
    max-width: 700px;
    margin: 20px auto 0;
    padding: 20px;
    background: #FFF;
    border: 1px solid #DDD;
    border-radius: 5px;
}

.product-info h1{
    font-size: 32px;
}

.product-list p{
    font-size: 24px;
    color: #666;
    margin-top: 5px;
}

.product-list p a{
    color: #069;
}
